.register_container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    135deg,
    #0f172a,
    #111827,
    #1e293b
  );

  padding: 20px;
}

.register_card {
  width: 100%;
  max-width: 420px;

  padding: 35px;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);

  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 20px;

  box-shadow: 0 20px 40px rgba(0,0,0,0.35);
}

.register_title {
  text-align: center;
  color: white;
  font-size: 32px;
  margin-bottom: 10px;
}

.register_subtitle {
  text-align: center;
  color: #94a3b8;
  margin-bottom: 25px;
}

.register_input {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;

  border-radius: 12px;
  border: 1px solid #334155;

  background: rgba(255,255,255,0.06);
  color: white;

  outline: none;
  box-sizing: border-box;
}

.register_input:focus {
  border-color: #6366f1;
}

.register_btn {
  width: 100%;
  padding: 14px;

  border: none;
  border-radius: 12px;

  background: linear-gradient(
    135deg,
    #6366f1,
    #8b5cf6
  );

  color: white;
  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
}